<a href="https://colab.research.google.com/github/Asaduzzaman-cel/python_basics/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Set is unorder,unchangeable but you can add or remove item. you can not indexing also
# For unorder you can't get same result by every order.
#myset = {"apple","banana","cherry"}
#print(myset)

{'banana', 'apple', 'cherry'}

In [13]:
#print(myset)

{'banana', 'apple', 'cherry'}

In [7]:
#myset.add("orange")
#print(myset)

{'banana', 'orange', 'apple', 'cherry'}

In [8]:
myset.update(["orange","mango","grapes"])
print(myset)

{'grapes', 'banana', 'cherry', 'orange', 'apple', 'mango'}

In [9]:
myset1={"apple","banana","cherry"}
myset2={1,2,3}
myset1.update(myset2)
print(myset1)

{1, 2, 3, 'banana', 'apple', 'cherry'}

In [10]:
# loop in set
myset = {"apple","banana","cherry"}
for x in myset:
    print(x)

banana
apple
cherry

In [15]:
#there five rules to remove an items in set.1).remove 2).discard() 3) .pop() 4) .clae() 5)del
myset={"apple","banana","cherry"}
myset.remove("apple")
print(list)

['apple', 'banana']

In [12]:
list={"apple","banana","cherry"}
list.pop() # pop() method ববহার করলে কোন আইটেম বাদ হবে ঠিক নাই তাই সাধারনত এই method বেশির ভাগ use হয় না
print(list)

['apple', 'banana']

In [18]:
myset={"apple","banana","cherry"}
myset.discard("banana")
print(myset)

{'apple', 'cherry'}

In [23]:
myset={"apple","banana","cherry"} # when you use .clear method set will empty
myset.clear()
print(myset)

set()

In [ ]:
myset={"apple","banana","cherry"}
del(myset)
#print(myset)# if you use del method set will permanently deleted.